export(analyzePasswordDump)
export(byLength)
export(charStats)
export(commonCounts)
export(lengthFreq)
export(makeWordListCounts)
export(printCounts)
export(readPass)
export(ripalApp)
export(topBasewords)
export(topPasswords)
import(data.table)
import(knitr)
import(shiny)
import(stringr)
